*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #fff8f3;
    padding-top: 40px;
    background: url(../images/developer.png), url(../images/header_bg.png),#fff8f3;;

    background-position:top left , bottom right;
    background-repeat: no-repeat;
    
}
.color-orange{
    color: #FD6E0A;
}
nav {
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: bold;
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    
}
.btn{
    background-color: #FD6E0A ;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff8f3;
    align-items: center;
    cursor: pointer;
}
.section-heading{
    max-width:827px ;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.section-heading p {
line-height: 30px;
font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    }
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;

}
 #about .about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color:#fff8f3 ;
    padding: 131px 156px;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
     font-size: 20px;
    color:#757575;
    line-height: 30px;
     
} 
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
}


#skills{
    padding-top: 130px;
    
}
#skills .skills-container{
    max-width: 1140px;
    margin: 0 auto;
    

}
#skills .section-heading{
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display:flex ;
    gap: 14px;
}

.skills-box .skills-card{
    padding: 30px;
    max-width: 246px;
    /* border: 2px solid red; */
    box-shadow:0 6px 50px 0 #0000001f ;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skills-card h3{
    color: #181818;
    font-size: 20px;
    margin-bottom: 20px;
}
.skills-card p{
    color:#757575 ;
    line-height: 28px;
    font-size: 16px;
}


