*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #fff8f3;
    padding-top: 40px;
}
.color-orange{
    color: #FD6E0A;
}
nav {
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: bold;
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    
}
.btn{
    background-color: #FD6E0A ;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff8f3;
    align-items: center;
}